@import '../../css/variables.scss';

.LoginDropdown__container {
    position: absolute;
    right: 0px;
    top: 100px;
    transition: all ease .5s;
    transform: translateX(240px);
    & .Button {
        background: $color-grey-dark;
    }
}

.LoginDropdown__container:hover {
    transform: translateX(0);

    & .LoginDropDown__btn-open {
        z-index: -1;
        transform: translateX(150px);
    }
}

.LoginDropdown__shown {
    display: flex;

    & .LoginDropDown__btn-open {
        background: $color-red;
        align-self: flex-start;
        transform-origin: bottom right;
        transform: rotate(-90deg);
        padding: 10px 30px;
        transition: all ease .5s;
    }

    & .LoginDropdown__content {
        padding: 25px 0px;
        background: $color-red;
        width: 240px;
        z-index: 1;

    }

    & p {
        color: white;
        text-align: center;
        font-size: 1em; 
    }
}


.LoginDropdown__input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &  .Button {
        width: 75%;
    }
    
    input {
        height: 25px;
        padding: 16px;
        font-size: .8em;
        width: 75%;
    }
}

.LoginDropdown__input-text {
    padding-top: 16px;
    font-size: .9em;
    color: $color-white;
    width: 75%;


    & > p {
        text-align: left;
        font-weight: 400;

        &:hover {
            color: $color-grey-dark;
            cursor: pointer;
        }
    }
}