@import '../../css/variables.scss';

.HamburgerIcon__container {
    display: none;
    z-index: 4;

    &:hover {
        cursor: pointer;

        & div {
            background: $color-red;
        }
    }

    & div {
        background: $color-white;
        width: 35px;
        height: 5px;
    }

    & div:first-child {
        margin-bottom: 4px;
    }

    & div:last-child {
        margin-top: 4px;

    }
}


@media only screen and (max-width: 1000px) {
    .HamburgerIcon__container {
        display: block;
    }
}


