@import '../../css/variables.scss';

.About__container {
    // min-height: 100vh;
    
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
    max-width: 1300px;
}

.About__image-container {
    border-left: $border-size solid $color-red;
    padding-bottom: 100px;
    display: flex;
   
}

.About-img {
    margin-left: 50px;
    height: 30vw;
    width: 30vw;
    width: 30vw;
    max-width: 600px;
    max-height: 600px;
    margin-right: 40px;
    background: $color-grey-light;
}

.About__text-container {
    width: 40vw;
    max-width: 600px;
    padding-bottom: 50px;
}


@media only screen and (max-width: 1000px) {

    .About__text-container {
        width: 100%;
        padding-bottom: 100px;
    }

    .About__image-container {
        margin: auto;
        padding-bottom: 0px;
    }

    .About-img {
        width: 60vw;
        height: 60vw;
        margin-right: 40px;
        // margin-left: 40px;
    }

    

    .About__text-container {
        padding-top: 50px;
        margin: auto;
    }
}


@media only screen and (max-width: 600px) {
    .About-img {
        margin-left: 0;
        width: 80vw;
        margin: auto;
        height: 80vw;
    }


    .About__image-container {
        border: none;
        // width: 600px;
    }

}