@import '../../css/variables.scss';

.Card__container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    margin-right: 60px;
    padding-bottom: 50px;
}

.Card__index-container {
    border-bottom: $border-size solid $color-red;

    & > h1 {
        font-size: $h1-medium-label;
    }
}

.Card__content-container {
    margin-left: 20px;
    width: 100vw;
    max-width: 250px;
}

.Card__image-container {
    height: 80vw;
    width: 80vw;
    max-width: 250px;
    max-height: 250px;
    margin-top: 16px;
    background: $color-grey-light;
}

.Card__text {
    & > h2 {
        margin-top: 20px;
    }

    & > p {
        text-align: justify;
        margin-top: 10px;
        font-size: $p-caption;
    }
}

@media screen and (max-width: 600px) {
    .Card__container {
        margin: 0px;
    }
}

@media screen and (max-width: 400px) {
    .Card__index-container {
        position: absolute;
        left: 40px;
        top: 20px;
    }

    .Card__container {
        margin: 0 auto;
    }
    .Card__image-container {
        width: 100%;
    }

}

