@import '../../css/variables.scss';

.Form__container {
    padding: 0px 40px;
    margin-top: 50px;
    & > form {
        max-width: 600px;
        margin: auto;
    }
}

.Form__button-container {
    text-align: center;
    padding: 50px;
}

input {
    outline: none;
    border: none;
    color: $color-grey-dark;
    width: 100%;
    margin-bottom: 20px;
    background: $color-white;


}

textarea {
    outline: none;
    border: none;
    height: 200px;
    width: 100%;
    resize: none;
    background: $color-white;
    color: $color-grey-dark;
}

@media screen and (max-width: 400px) {
    .Form__container {
        width: 100%;
        padding: 0px 20px;
    }
}



