

// Colors
$color-red: #eb3838;
// $color-red: blue;
$color-grey-dark: #323232;
$color-grey-light: #d3d3d3;
$color-grey-darker: #1C1C1C;
$color-white: #f9f9f9;


// Typography
$base-font-size: 16px; 
$p-line-height: 1.5em;
$p-letter-spacing: .02em;
$h1-section-header-spacing: .05em;
$p-homepage-size: 1.3em;
$p-caption: 1em;
// Misc
$border-size: 3px;
$margin-after-section-header: 100px;
$h1-medium-label: 4em;





