@import '../../css/variables.scss';

.Work__container {
    width: 100%;
    margin-top: 100px;
}

.Work__header {
    display: grid;
    grid-template-columns: 300px auto;
    & > div:first-of-type {
        h1 {
            font-size: 9em;
            line-height: .7em;
            padding-left: 40px;
        }
    }
}

.Work__header-line {
    border-bottom: $border-size solid $color-red;
}

.Work__content_container {
    display: grid;
    grid-template-columns: 300px auto;
}

.Work__content {
    margin-top: 50px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap-reverse;
}

.Work__content-text {
    max-width: 500px;
    margin-right: 50px;

    > h1 {
        padding-bottom: 20px;
    }

    & li {
        position: relative;
        text-decoration: none;
        font-style: none;
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        padding: 10px;
    }

    & li::before {
        content: '';
        left: -20px;
        position: absolute;
        background-color: $color-red;
    }
}


.Work__content-img {
    background: none;
    width: 100%;
    max-width: 500px;
    height: 300px;
    margin-bottom: 50px;
    margin-right: 40px;

    img {
        min-width: 100%;
        height: 100%;
    }
}


@media only screen and (max-width: 600px) {

    .Work__content_container {
        grid-template-columns: 0px auto;
    }

    .Work__content-img {
        margin: auto;
        margin-bottom: 50px;
        width: 90%;
    }

    .Work__content-text {
        margin: auto;
        padding: 0px 20px;
    }
}