@import '../../css/variables.scss';

.Work__container {
    width: 100%;
    margin-top: 100px;

    // .Work__content:last-of-type {
    //     padding-bottom: 100px;
    // }

}

.Work__header {
    display: grid;
    grid-template-columns: 300px auto;
    & > div:first-of-type {
        h1 {
            font-size: 9em;
            line-height: .7em;
            padding-left: 40px;
            // text-align: right;
        }
    }

    & > div:nth-child(2) {
        // color: pink;
    }
}

.Work__header-line {
    border-bottom: $border-size solid $color-red;
}

.Work__content_container {
    display: grid;
    grid-template-columns: 300px auto;
}

.Work__content {
    margin-top: 50px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap-reverse;
}

.Work__content-text {
    max-width: 500px;
    margin-right: 50px;

    > h1 {
        padding-bottom: 20px;
    }
}


.Work__content-img {
    background: $color-grey-light;
    width: 100%;
    max-width: 500px;
    height: 300px;
    margin-bottom: 50px;
    margin-right: 40px;
}


@media only screen and (max-width: 600px) {

    .Work__content_container {
        grid-template-columns: 0px auto;
    }

    .Work__content-img {
        // margin-left: 20px;
        margin: auto;
        margin-bottom: 50px;
        width: 90%;
    }

    .Work__content-text {
        margin: auto;
        padding: 0px 20px;
    }
}